<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <dependencies>
        <!-- Jakarta Servlet API -->
        <dependency>
            <groupId>jakarta.servlet</groupId>
            <artifactId>jakarta.servlet-api</artifactId>
            <version>5.0.0</version>
            <scope>provided</scope>
        </dependency>
        <!-- Gson -->
        <dependency>
            <groupId>com.google.code.gson</groupId>
            <artifactId>gson</artifactId>
            <version>2.8.8</version>
        </dependency>
        <!-- Apache HttpClient Fluent API -->
        <dependency>
            <groupId>org.apache.httpcomponents.client5</groupId>
            <artifactId>httpclient5</artifactId>
            <version>5.1</version>
        </dependency>
    </dependencies>
    <filter>
        <filter-name>Loginfilter</filter-name>
        <filter-class>filter.Loginfilter</filter-class>
    </filter>
    <filter>
        <filter-name>StaffFilter</filter-name>
        <filter-class>filter.StaffFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CustomerFilter</filter-name>
        <filter-class>filter.CustomerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/forgotPassword.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/cusorderdetail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/orderhistory</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/changePassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/accsettings</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/checkout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/showBills</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/showCart</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/contactus.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/about.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/blogdetail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/customerblog</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/productDetail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/shop</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/home</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/blogmanage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/createCate</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/createBrand</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/createProduct</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/catemanage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/brandmanage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <url-pattern>/productmanage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/shipperdashboard</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/blogmanage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/vouchermanage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/addShipper</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/manageorderDetail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/ordermanage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/createCate</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/catemanage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/createBrand</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/brandmanage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/createAccount</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/accountmanage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/createProduct</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/productmanage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/dashboard</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/quantity</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/cusorderdetail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/changePassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/accsettings</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/showBills</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Loginfilter</filter-name>
        <url-pattern>/showCart</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
</web-app>
