USE [master]
GO
/****** Object:  Database [betashop]    Script Date: 7/10/2024 9:36:04 AM ******/
CREATE DATABASE [betashop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'betashop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\betashop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'betashop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\betashop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [betashop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [betashop]
GO
/****** Object:  UserDefinedFunction [dbo].[LevenshteinDistance]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[LevenshteinDistance]
(
    @source NVARCHAR(MAX),
    @target NVARCHAR(MAX)
)
RETURNS INT
AS
BEGIN
    DECLARE @distance INT;
    DECLARE @sourceLength INT = LEN(@source);
    DECLARE @targetLength INT = LEN(@target);
    DECLARE @distanceMatrix TABLE
    (
        RowIndex INT,
        ColumnIndex INT,
        Distance INT
    );

    -- Initialize matrix
    INSERT INTO @distanceMatrix (RowIndex, ColumnIndex, Distance)
    VALUES
    (0, 0, 0);

    DECLARE @i INT = 1;
    WHILE @i <= @sourceLength
    BEGIN
        INSERT INTO @distanceMatrix (RowIndex, ColumnIndex, Distance)
        VALUES
        (@i, 0, @i);

        SET @i = @i + 1;
    END;

    DECLARE @j INT = 1;
    WHILE @j <= @targetLength
    BEGIN
        INSERT INTO @distanceMatrix (RowIndex, ColumnIndex, Distance)
        VALUES
        (0, @j, @j);

        SET @j = @j + 1;
    END;

    SET @i = 1;
    WHILE @i <= @sourceLength
    BEGIN
        SET @j = 1;
        WHILE @j <= @targetLength
        BEGIN
            DECLARE @cost INT;
            IF SUBSTRING(@source, @i, 1) = SUBSTRING(@target, @j, 1)
                SET @cost = 0;
            ELSE
                SET @cost = 1;

            DECLARE @above INT = (SELECT Distance FROM @distanceMatrix WHERE RowIndex = @i - 1 AND ColumnIndex = @j) + 1;
            DECLARE @left INT = (SELECT Distance FROM @distanceMatrix WHERE RowIndex = @i AND ColumnIndex = @j - 1) + 1;
            DECLARE @diagonal INT = (SELECT Distance FROM @distanceMatrix WHERE RowIndex = @i - 1 AND ColumnIndex = @j - 1) + @cost;

            DECLARE @minDistance INT = 
                CASE
                    WHEN @above < @left AND @above < @diagonal THEN @above
                    WHEN @left < @diagonal THEN @left
                    ELSE @diagonal
                END;

            INSERT INTO @distanceMatrix (RowIndex, ColumnIndex, Distance)
            VALUES
            (@i, @j, @minDistance);

            SET @j = @j + 1;
        END;

        SET @i = @i + 1;
    END;

    SET @distance = (SELECT Distance FROM @distanceMatrix WHERE RowIndex = @sourceLength AND ColumnIndex = @targetLength);
    RETURN @distance;
END;
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[acc_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](250) NOT NULL,
	[adress] [nvarchar](500) NOT NULL,
	[cus_password] [nvarchar](16) NOT NULL,
	[full_name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](25) NULL,
	[role_id] [int] NOT NULL,
	[avatar] [nvarchar](500) NULL,
	[ques_id] [int] NULL,
	[answer] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Block]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Block](
	[proid] [int] NULL,
	[accid] [int] NULL,
	[brandid] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](100) NULL,
	[brand_img] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ca_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountID] [nvarchar](8) NOT NULL,
	[DiscountRate] [float] NULL,
	[Amount] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cus_id] [int] NULL,
	[orderDate] [date] NULL,
	[status_id] [int] NULL,
	[adress] [nvarchar](500) NULL,
	[phone] [nvarchar](16) NULL,
	[deliverDate] [date] NULL,
	[payment_id] [int] NULL,
	[totalAmount] [money] NULL,
	[cus_name] [varchar](255) NULL,
	[ship_id] [int] NULL,
	[shipstatus] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[orderDetail]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[total_price] [money] NULL,
	[quantity] [int] NULL,
	[proName] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[proimg] [nvarchar](255) NULL,
	[caid] [int] NULL,
	[brand_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[StatusID] [int] NOT NULL,
	[Name] [nchar](10) NULL,
	[Description] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[PaymentMethodID] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[proName] [nvarchar](250) NOT NULL,
	[caid] [int] NULL,
	[description] [nvarchar](500) NULL,
	[img] [nvarchar](max) NULL,
	[price] [money] NULL,
	[rate] [decimal](3, 2) NULL,
	[brand_id] [int] NULL,
	[stockQuantity] [int] NULL,
	[publication_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductComment]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductComment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[ProId] [int] NOT NULL,
	[CommentText] [nvarchar](200) NOT NULL,
	[Rating] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImg]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImg](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pro_id] [int] NOT NULL,
	[img_link] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refund]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Refund](
	[OrderDetailID] [int] NOT NULL,
	[RefundDate] [date] NULL,
	[Reason] [varchar](max) NULL,
	[Image] [text] NULL,
	[ReturnStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ResponseComment]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResponseComment](
	[ResponseId] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[ResponseText] [nvarchar](200) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityQuestions]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityQuestions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ques_name] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipStatus]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipStatus](
	[ShipStatusID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Reason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCart]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCart](
	[UserCartID] [int] NOT NULL,
	[UserID] [int] NULL,
	[WatchID] [int] NULL,
	[Quantity] [int] NULL,
	[TotalPrice] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserCartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWishlist]    Script Date: 7/10/2024 9:36:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWishlist](
	[UserID] [int] NOT NULL,
	[WatchID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[WatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [acc_name], [email], [adress], [cus_password], [full_name], [phone], [role_id], [avatar], [ques_id], [answer]) VALUES (7, N'Tuandmhe17073', N'tuandmhe170730@fpt.edu.vn', N'ha noi', N'@6XH]JRnX', N'tuan', N'886868', 1, N'img/rv9dojtv.png', 1, N'ha nooi')
INSERT [dbo].[Account] ([id], [acc_name], [email], [adress], [cus_password], [full_name], [phone], [role_id], [avatar], [ques_id], [answer]) VALUES (11, N'huyttu123@gmail.com', N'huyttu123@gmail.com', N'14, Ho chi minh city', N'BM5onmUl', N'DaoManhTuan', N'6666', 1, N'img/user-02.jpg', 1, N'Ha Noi')
INSERT [dbo].[Account] ([id], [acc_name], [email], [adress], [cus_password], [full_name], [phone], [role_id], [avatar], [ques_id], [answer]) VALUES (17, N'hailhhe161450', N'hailh@gmail.com', N'hanoi', N'@Tuan203', N'Dao Manh Tuan', N'66668888', 1, N'img/news7.jpg', 1, N'Ha Noi')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([id], [brand_name], [brand_img]) VALUES (1, N'Rolex', N'https://wallpapercave.com/wp/icvgMMi.jpg')
INSERT [dbo].[brand] ([id], [brand_name], [brand_img]) VALUES (2, N'Cartier', N'https://media.gq-magazine.co.uk/photos/5d138db92881cc19cd0a75a7/16:9/w_2560%2Cc_limit/cartier-hp-gq-8mar18_b.jpg')
INSERT [dbo].[brand] ([id], [brand_name], [brand_img]) VALUES (3, N'Audemars Piguet', N'https://monochrome-watches.com/wp-content/uploads/2018/01/Audemars-Piguet-Royal-Oak-Extra-Thin-Tourbillon-Tapisserie-Evolutive-26522-SIHH-2018-2.jpg')
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [ca_name]) VALUES (1, N'Automatic Watches')
INSERT [dbo].[Categories] ([id], [ca_name]) VALUES (2, N'Mechanical Watches')
INSERT [dbo].[Categories] ([id], [ca_name]) VALUES (3, N'Solar Watches')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[Discount] ([DiscountID], [DiscountRate], [Amount], [StartDate], [EndDate], [Status]) VALUES (N'DISC001', 0.1, 46, CAST(N'2024-07-01T00:00:00.000' AS DateTime), CAST(N'2024-07-31T23:59:59.000' AS DateTime), 1)
INSERT [dbo].[Discount] ([DiscountID], [DiscountRate], [Amount], [StartDate], [EndDate], [Status]) VALUES (N'DISC002', 0.2, 30, CAST(N'2024-08-01T00:00:00.000' AS DateTime), CAST(N'2024-08-31T23:59:59.000' AS DateTime), 1)
INSERT [dbo].[Discount] ([DiscountID], [DiscountRate], [Amount], [StartDate], [EndDate], [Status]) VALUES (N'DISC003', 0.15, 100, CAST(N'2024-09-01T00:00:00.000' AS DateTime), CAST(N'2024-09-30T23:59:59.000' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [cus_id], [orderDate], [status_id], [adress], [phone], [deliverDate], [payment_id], [totalAmount], [cus_name], [ship_id], [shipstatus]) VALUES (73, 17, CAST(N'2024-06-24' AS Date), 2, N'hanoi', N'66668888', NULL, 1, 701.4430, N'Dao Manh Tuan', 43, N'Preparing for shipment at: 2024-06-28')
INSERT [dbo].[Order] ([id], [cus_id], [orderDate], [status_id], [adress], [phone], [deliverDate], [payment_id], [totalAmount], [cus_name], [ship_id], [shipstatus]) VALUES (74, 7, CAST(N'2024-06-24' AS Date), 2, N'ha noi', N'886868', NULL, 2, 137.4430, N'tuan', 43, N'Received  Successfully at: 2024-07-08')
INSERT [dbo].[Order] ([id], [cus_id], [orderDate], [status_id], [adress], [phone], [deliverDate], [payment_id], [totalAmount], [cus_name], [ship_id], [shipstatus]) VALUES (75, 7, CAST(N'2024-06-24' AS Date), 2, N'ha noi', N'886868', NULL, 2, 252.9870, N'tuan', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[orderDetail] ON 

INSERT [dbo].[orderDetail] ([id], [order_id], [product_id], [total_price], [quantity], [proName], [description], [proimg], [caid], [brand_id]) VALUES (123, 73, 28, 567.0000, 1, N'Rolex Automatic 86405PAVEPM', N'Điểm nhấn của sản phẩm nằm ở mặt đồng hồ thiết kế tinh tế, chất lượng. Cụ thể các nghệ nhân đã lát kim cương cho mặt đồng hồ. Chưa dừng lại ở đó họ còn sử dụng bộ kim vàng Everose đẳng cấp kết hợp điểm giờ số La Mã', N'https://euluxury.vn/upload_images/20220811/files/rolex_81405rbr-0001.jpg', 1, 1)
INSERT [dbo].[orderDetail] ([id], [order_id], [product_id], [total_price], [quantity], [proName], [description], [proimg], [caid], [brand_id]) VALUES (124, 73, 57, 120.0000, 1, N'SamSung Galaxy Four', N'Galaxy Watch4 có thể đếm bước chân, lượng calories đốt cháy, theo dõi hành trình di chuyển qua GPS, nhận diện hoạt động luyện tập và hỗ trợ trên 90 chế độ luyện tập giúp bạn có được số liệu thống kê luyện tập chính xác nhất.', N'img/4mt2dsk5.png', 4, 11)
SET IDENTITY_INSERT [dbo].[orderDetail] OFF
GO
INSERT [dbo].[OrderStatus] ([StatusID], [Name], [Description]) VALUES (1, NULL, N'paid')
INSERT [dbo].[OrderStatus] ([StatusID], [Name], [Description]) VALUES (2, NULL, N'not yet paid')
GO
INSERT [dbo].[PaymentMethod] ([PaymentMethodID], [Name], [Description]) VALUES (1, N'COD', N'Payment by cash')
INSERT [dbo].[PaymentMethod] ([PaymentMethodID], [Name], [Description]) VALUES (2, N'Online Payment', N'Payment through PayPal')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [proName], [caid], [description], [img], [price], [rate], [brand_id], [stockQuantity], [publication_date]) VALUES (6, N' ROLEX DATEJUST', 1, N' Datejust là chiếc đồng hồ chronometer đeo tay tự lên dây và chống thấm nước đầu tiên có màn hình cửa sổ hiển thị ngày tại điểm 3 giờ trên mặt số. Sự kết hợp độc đáo này đã được nâng tầm vào năm 1953 với hiệu ứng phóng đại của ống kính Cyclops trên màn hình hiển thị.', N'img/1x1rolex.png', 282000000.0000, CAST(4.90 AS Decimal(3, 2)), 1, 100, CAST(N'2024-02-06' AS Date))
INSERT [dbo].[Product] ([id], [proName], [caid], [description], [img], [price], [rate], [brand_id], [stockQuantity], [publication_date]) VALUES (8, N' ROLEX SKY-DWELLER', 1, N'Dành cho những nhà du hành thế giới, đồng hồ Sky-Dweller hiển thị đồng thời thời gian ở múi giờ thứ hai cũng như giờ địa phương - được biểu thị bằng kim trung tâm. Múi giờ thứ hai – hay giờ tham chiếu – được biểu thị bằng một hình tam giác nhỏ, dễ đọc với dấu đỏ trên đĩa xoay có vạch chia 24 giờ.', N'img/buupdate.png', 399500000.0000, CAST(5.00 AS Decimal(3, 2)), 1, 100, CAST(N'2024-02-06' AS Date))
INSERT [dbo].[Product] ([id], [proName], [caid], [description], [img], [price], [rate], [brand_id], [stockQuantity], [publication_date]) VALUES (9, N'Cartier Tank', 1, N'L?y c?m h?ng t? nh?ng chi?c xe tang quân s? trong Th? chi?n th? nh?t, d?ng h? không ch? d? dùng nhu m?t chi?c d?ng h? deo tay tho?i mái deo hàng ngày mà tính th?m m? l?y c?m h?ng t? phong cách hoài c? ', N'https://cdn-gassan.imgix.net/811321/811321_1.png?auto=format&lossless=true&w=768', 4.4430, CAST(5.00 AS Decimal(3, 2)), 2, 12, CAST(N'2024-02-06' AS Date))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductComment] ON 

INSERT [dbo].[ProductComment] ([CommentId], [ProId], [CommentText], [Rating], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (6, 34, N'content', 5, 5, CAST(N'2024-12-01T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductComment] ([CommentId], [ProId], [CommentText], [Rating], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (8, 34, N'sản phẩm tốt rất ấn tượng đối với tôi tôi rất thích sản phẩm này', 5, 7, CAST(N'2024-07-08T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductComment] ([CommentId], [ProId], [CommentText], [Rating], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (13, 34, N'san pham oke', 5, 7, CAST(N'2024-08-07T13:06:46.200' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ProductComment] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImg] ON 

INSERT [dbo].[ProductImg] ([id], [pro_id], [img_link]) VALUES (31, 55, N'img/tissot2.png')
INSERT [dbo].[ProductImg] ([id], [pro_id], [img_link]) VALUES (32, 55, N'img/tissot3.png')
INSERT [dbo].[ProductImg] ([id], [pro_id], [img_link]) VALUES (35, 6, N'img/djtive.png')
SET IDENTITY_INSERT [dbo].[ProductImg] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [role_name]) VALUES (1, N'Customer')
INSERT [dbo].[Role] ([id], [role_name]) VALUES (2, N'Staff')
INSERT [dbo].[Role] ([id], [role_name]) VALUES (3, N'Shipper')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[SecurityQuestions] ON 

INSERT [dbo].[SecurityQuestions] ([id], [ques_name]) VALUES (1, N'Where was you born ?')
INSERT [dbo].[SecurityQuestions] ([id], [ques_name]) VALUES (2, N'What city do you like the most ?')
SET IDENTITY_INSERT [dbo].[SecurityQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[ShipStatus] ON 

INSERT [dbo].[ShipStatus] ([ShipStatusID], [Status], [Reason]) VALUES (1, N'Preparing for shipment', N'Order is being prepared for shipment')
INSERT [dbo].[ShipStatus] ([ShipStatusID], [Status], [Reason]) VALUES (2, N'Out for delivery', N'Order is on its way to the customer')
INSERT [dbo].[ShipStatus] ([ShipStatusID], [Status], [Reason]) VALUES (3, N'Delivered', N'Order has been successfully delivered')
SET IDENTITY_INSERT [dbo].[ShipStatus] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Customer_Role]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Customer_SecurityQuestions] FOREIGN KEY([ques_id])
REFERENCES [dbo].[SecurityQuestions] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Customer_SecurityQuestions]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([cus_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([status_id])
REFERENCES [dbo].[OrderStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentMethod] FOREIGN KEY([payment_id])
REFERENCES [dbo].[PaymentMethod] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PaymentMethod]
GO
ALTER TABLE [dbo].[orderDetail]  WITH CHECK ADD  CONSTRAINT [fk_brand_id] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([id])
GO
ALTER TABLE [dbo].[orderDetail] CHECK CONSTRAINT [fk_brand_id]
GO
ALTER TABLE [dbo].[orderDetail]  WITH CHECK ADD  CONSTRAINT [fk_caid] FOREIGN KEY([caid])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[orderDetail] CHECK CONSTRAINT [fk_caid]
GO
ALTER TABLE [dbo].[orderDetail]  WITH CHECK ADD  CONSTRAINT [FK_orderDetail_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[orderDetail] CHECK CONSTRAINT [FK_orderDetail_Order]
GO
ALTER TABLE [dbo].[orderDetail]  WITH CHECK ADD  CONSTRAINT [FK_orderDetail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[orderDetail] CHECK CONSTRAINT [FK_orderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Categories] FOREIGN KEY([caid])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Categories]
GO
ALTER TABLE [dbo].[ProductComment]  WITH CHECK ADD  CONSTRAINT [FK_ProductComment_Product] FOREIGN KEY([ProId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[ProductComment] CHECK CONSTRAINT [FK_ProductComment_Product]
GO
ALTER TABLE [dbo].[ProductImg]  WITH CHECK ADD  CONSTRAINT [FK_ProductImg_Product] FOREIGN KEY([pro_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[ProductImg] CHECK CONSTRAINT [FK_ProductImg_Product]
GO
ALTER TABLE [dbo].[ResponseComment]  WITH CHECK ADD  CONSTRAINT [FK_ResponseComment_ProductComment] FOREIGN KEY([ResponseId])
REFERENCES [dbo].[ProductComment] ([CommentId])
GO
ALTER TABLE [dbo].[ResponseComment] CHECK CONSTRAINT [FK_ResponseComment_ProductComment]
GO
ALTER TABLE [dbo].[UserCart]  WITH CHECK ADD  CONSTRAINT [FK_UserCart_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[UserCart] CHECK CONSTRAINT [FK_UserCart_Account]
GO
ALTER TABLE [dbo].[UserCart]  WITH CHECK ADD  CONSTRAINT [FK_UserCart_Product] FOREIGN KEY([WatchID])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[UserCart] CHECK CONSTRAINT [FK_UserCart_Product]
GO
ALTER TABLE [dbo].[UserWishlist]  WITH CHECK ADD  CONSTRAINT [FK_UserWishlist_Account] FOREIGN KEY([UserID])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[UserWishlist] CHECK CONSTRAINT [FK_UserWishlist_Account]
GO
ALTER TABLE [dbo].[UserWishlist]  WITH CHECK ADD  CONSTRAINT [FK_UserWishlist_Product] FOREIGN KEY([WatchID])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[UserWishlist] CHECK CONSTRAINT [FK_UserWishlist_Product]
GO
USE [master]
GO
